# leave out data directory
/data

# leave out fastai link
/fastai

# leave out checkpoints
*checkpoint*

# leave out pycache
*pycache*

# leave out log directories
/*log*

# sbatch related 
/*sbatch_out
/*sbatch_err
